@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background-color: #1a2b4c;
}

body {
  font-family: "Noto Sans SC", "Noto Sans JP", "Noto Sans KR", sans-serif;
  background-color: #F9F3E5;
  color: #1A2B4C;
}